.about__item {
  margin: 0;

}

.about__item_title {
  font-family: 'Europeext Regular';
  /* font-size: 16px; */
  color: #940202;
  font-size: 1.2vw;
}

.about__item_subtitle {
  font-family: 'Europeext Bold';
  color: black;
  font-size: 1.3vw;
}


.about__item_subtitle span {
  font-size: 0.8vw;
}