.licenses {
  background: white;
  padding: 50px 200px 100px 200px;
}

@media (max-width: 1280px) {
  .licenses {
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media (max-width: 1024px) {
  .licenses {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 768px) {
  .licenses {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 320px) {
  .licenses {
    padding-left: 10px;
    padding-right: 10px;
  }
}