.advantage__title {
  color: #940202;
  font-family: 'Europeext Regular';
  font-size: 1vw;
  margin: 0 0 1vw 0;
  text-align: center;
}

@media (max-width: 768px) {
  .advantage__title {
    font-size: 3vw;
  }
}