.services__box-one {
  margin-bottom: 100px;
  background-color: #940202;
  filter: drop-shadow(10px 10px 10px #616161);
  padding: 70px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
}