.reviews {
  padding: 50px 0 100px 0;
  margin: 0 200px 0 200px;
  background: white;
}

@media (max-width: 1280px) {
  .reviews {
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media (max-width: 1024px) {
  .reviews {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 768px) {
  .reviews {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 320px) {
  .reviews {
    margin-left: 10px;
    margin-right: 10px;
  }
}