.popup-more__item {
  font-family: 'Montserrat Regular';
  margin-bottom: 1vw;
  font-size: 1vw;
}

.popup-more__item:last-child {
  margin-bottom: 0;
}

.popup-more__item span {
  color: #940202;
  font-family: 'Montserrat Medium';
}

@media (max-width: 768px) {
  .popup-more__item {
    font-size: 2vw;
  }
}