.advantage {
  padding: 0 100px 100px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: white;
}


.advantage_bottom {
  background: linear-gradient(180deg, white, #f5f5f5);
}