.services__photo {
  filter: drop-shadow(5px 5px 5px black);
  width: 70%;
  background-position: center;
  background-size: cover;
  padding-top: 70%;
  transition: 1s;
}

.services__card:hover .services__photo {
  /* transform: scale(1.2); */
  width: 100%;
  padding-top: 100%;
  rotate: 0deg;
  margin-top: -3%;
  filter: blur(3px);
}

.services__photo_one {
  rotate: 3deg;
  background-image: url('../../../images/services1.jpg');
}

.services__photo_two {
  rotate: -3deg;
  background-image: url('../../../images/services2.jpg');
}

.services__photo_three {
  rotate: 3deg;
  background-image: url('../../../images/services3.jpg');
}

.services__photo_fourth {
  rotate: -3deg;
  background-image: url('../../../images/services4.jpg');
}

.services__photo_fifth {
  rotate: 3deg;
  background-image: url('../../../images/services5.jpg');
}

.services__photo_sixth {
  rotate: -3deg;
  background-image: url('../../../images/services6.jpg');
}