.header {
  padding: 20px 200px 10px 200px;
  display: flex;
  background-color: black;
  justify-content: center;
  position: sticky;
  top: -1em;
  min-height: 2em;
  z-index: 100;
}

@media (max-width: 1280px) {
  .header {
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media (max-width: 1024px) {
  .header {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 768px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 320px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }
}