.licenses__title {
  color: black;
  font-family: 'Europeext Bold';
  font-size: 40px;
  border-bottom: solid;
  border-width: 3px;
  border-color: #940202;
  max-width: max-content;
  /* filter: drop-shadow(3px 3px 3px #616161); */
  padding-left: 2%;
  padding-right: 2%;
  margin: 0 auto 20px auto;
}