.advantage__button-contact {
  margin: 0 0 2vw 0;
  background-color: #940202;
  padding: 0;
  border: none;
  box-shadow: 0px -1vw 1vw #616161;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  width: 15vw;
  height: 3vw;
  transform: skewX(-20deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantage__button-contact span {
  color: #f5f5f5;
  font-family: 'Europeext Regular';
  font-size: 1vw;
  margin: 0.5vw 1vw;
  transform: skewX(20deg);
}

.advantage__button-contact:hover {
  background-color: #c80101;
  color: #fff;
  transform: translateY(-1vw) skewX(-20deg);
  box-shadow: 0px 0px 2vw #616161;
}

@media (max-width: 768px) {
  .advantage__button-contact {
    width: 30vw;
    height: 6vw;
    margin-top: 4vw;
    margin-bottom: 4vw;
    }
}

@media (max-width: 768px) {
  .advantage__button-contact span {
    font-size: 2vw;
  }
}