.advantage__button-contact {
  margin: 50px 0 0 0;
  background-color: #940202;
  color: #f5f5f5;
  font-family: 'Europeext Regular';
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px -5px 5px #616161;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  width: 220px;
  height: 40px;
}

.advantage__button-contact:hover {
  background-color: #c80101;
  color: #fff;
  transform: translateY(-7px);
}