.services__title {
  color: black;
  font-family: 'Europeext Bold';
  font-size: 3vw;
  margin: 0 0 20px 0;
  border-bottom: solid;
  border-width: 3px;
  border-color: #940202;
  max-width: max-content;
  padding-left: 2%;
  padding-right: 2%;
}