.services__title {
  color: black;
  font-family: 'Europeext Bold';
  font-size: 3vw;
  margin: 0 auto 3vw auto;
  border-bottom: solid;
  border-width: 0.25vw;
  border-color: #940202;
  max-width: max-content;
  padding-left: 2%;
  padding-right: 2%;
}