.services__scotch {
  position: absolute;
  width: 150px;
  height: 70px;
  transition: .5s;
}

.services__scotch_center {
  top: -40px;
  left: 25%;
}

.services__scotch_right {
  top: -40px;
  right: -40px;
}

.services__scotch_left {
  top: -50px;
  left: -30px;
}