.advantage__caption {
  color: #616161;
  font-family: 'Finlandica';
  font-size: 2vw;
  margin: 0 0 1vw 0;
}

.advantage__caption span {
  font-family: 'Europeext Bold';
  text-transform: uppercase;
  background-color: red;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: coloranime 3s infinite alternate-reverse;
}

@keyframes coloranime {
  0% {
    background-image: linear-gradient(to right, red, 0%, #752323);
  }
  1% {
    background-image: linear-gradient(to right, red, 1%, #752323);
  }
  2% {
    background-image: linear-gradient(to right, red, 2%, #752323);
  }
  3% {
    background-image: linear-gradient(to right, red, 3%, #752323);
  }
  4% {
    background-image: linear-gradient(to right, red, 4%, #752323);
  }
  5% {
    background-image: linear-gradient(to right, red, 5%, #752323);
  }
  6% {
    background-image: linear-gradient(to right, red, 6%, #752323);
  }
  7% {
    background-image: linear-gradient(to right, red, 7%, #752323);
  }
  8% {
    background-image: linear-gradient(to right, red, 8%, #752323);
  }
  9% {
    background-image: linear-gradient(to right, red, 9%, #752323);
  }
  10% {
    background-image: linear-gradient(to right, red, 10%, #752323);
  }
  11% {
    background-image: linear-gradient(to right, red, 11%, #752323);
  }
  12% {
    background-image: linear-gradient(to right, red, 12%, #752323);
  }
  13% {
    background-image: linear-gradient(to right, red, 13%, #752323);
  }
  14% {
    background-image: linear-gradient(to right, red, 14%, #752323);
  }
  15% {
    background-image: linear-gradient(to right, red, 15%, #752323);
  }
  16% {
    background-image: linear-gradient(to right, red, 16%, #752323);
  }
  17% {
    background-image: linear-gradient(to right, red, 17%, #752323);
  }
  18% {
    background-image: linear-gradient(to right, red, 18%, #752323);
  }
  19% {
    background-image: linear-gradient(to right, red, 19%, #752323);
  }
  20% {
    background-image: linear-gradient(to right, red, 20%, #752323);
  }
  21% {
    background-image: linear-gradient(to right, red, 21%, #752323);
  }
  22% {
    background-image: linear-gradient(to right, red, 22%, #752323);
  }
  23% {
    background-image: linear-gradient(to right, red, 23%, #752323);
  }
  24% {
    background-image: linear-gradient(to right, red, 24%, #752323);
  }
  25% {
    background-image: linear-gradient(to right, red, 25%, #752323);
  }
  26% {
    background-image: linear-gradient(to right, red, 26%, #752323);
  }
  27% {
    background-image: linear-gradient(to right, red, 27%, #752323);
  }
  28% {
    background-image: linear-gradient(to right, red, 28%, #752323);
  }
  29% {
    background-image: linear-gradient(to right, red, 29%, #752323);
  }
  30% {
    background-image: linear-gradient(to right, red, 30%, #752323);
  }
  31% {
    background-image: linear-gradient(to right, red, 31%, #752323);
  }
  32% {
    background-image: linear-gradient(to right, red, 32%, #752323);
  }
  33% {
    background-image: linear-gradient(to right, red, 33%, #752323);
  }
  34% {
    background-image: linear-gradient(to right, red, 34%, #752323);
  }
  35% {
    background-image: linear-gradient(to right, red, 35%, #752323);
  }
  36% {
    background-image: linear-gradient(to right, red, 36%, #752323);
  }
  37% {
    background-image: linear-gradient(to right, red, 37%, #752323);
  }
  38% {
    background-image: linear-gradient(to right, red, 38%, #752323);
  }
  39% {
    background-image: linear-gradient(to right, red, 39%, #752323);
  }
  40% {
    background-image: linear-gradient(to right, red, 40%, #752323);
  }
  41% {
    background-image: linear-gradient(to right, red, 41%, #752323);
  }
  42% {
    background-image: linear-gradient(to right, red, 42%, #752323);
  }
  43% {
    background-image: linear-gradient(to right, red, 43%, #752323);
  }
  44% {
    background-image: linear-gradient(to right, red, 44%, #752323);
  }
  45% {
    background-image: linear-gradient(to right, red, 45%, #752323);
  }
  46% {
    background-image: linear-gradient(to right, red, 46%, #752323);
  }
  47% {
    background-image: linear-gradient(to right, red, 47%, #752323);
  }
  48% {
    background-image: linear-gradient(to right, red, 48%, #752323);
  }
  49% {
    background-image: linear-gradient(to right, red, 49%, #752323);
  }
  50% {
    background-image: linear-gradient(to right, red, 50%, #752323);
  }
  51% {
    background-image: linear-gradient(to right, red, 51%, #752323);
  }
  52% {
    background-image: linear-gradient(to right, red, 52%, #752323);
  }
  53% {
    background-image: linear-gradient(to right, red, 53%, #752323);
  }
  54% {
    background-image: linear-gradient(to right, red, 54%, #752323);
  }
  55% {
    background-image: linear-gradient(to right, red, 55%, #752323);
  }
  56% {
    background-image: linear-gradient(to right, red, 56%, #752323);
  }
  57% {
    background-image: linear-gradient(to right, red, 57%, #752323);
  }
  58% {
    background-image: linear-gradient(to right, red, 58%, #752323);
  }
  59% {
    background-image: linear-gradient(to right, red, 59%, #752323);
  }
  60% {
    background-image: linear-gradient(to right, red, 60%, #752323);
  }
  61% {
    background-image: linear-gradient(to right, red, 61%, #752323);
  }
  62% {
    background-image: linear-gradient(to right, red, 62%, #752323);
  }
  63% {
    background-image: linear-gradient(to right, red, 63%, #752323);
  }
  64% {
    background-image: linear-gradient(to right, red, 64%, #752323);
  }
  65% {
    background-image: linear-gradient(to right, red, 65%, #752323);
  }
  66% {
    background-image: linear-gradient(to right, red, 66%, #752323);
  }
  67% {
    background-image: linear-gradient(to right, red, 67%, #752323);
  }
  68% {
    background-image: linear-gradient(to right, red, 68%, #752323);
  }
  69% {
    background-image: linear-gradient(to right, red, 69%, #752323);
  }
  70% {
    background-image: linear-gradient(to right, red, 70%, #752323);
  }
  71% {
    background-image: linear-gradient(to right, red, 71%, #752323);
  }
  72% {
    background-image: linear-gradient(to right, red, 72%, #752323);
  }
  73% {
    background-image: linear-gradient(to right, red, 73%, #752323);
  }
  74% {
    background-image: linear-gradient(to right, red, 74%, #752323);
  }
  75% {
    background-image: linear-gradient(to right, red, 75%, #752323);
  }
  76% {
    background-image: linear-gradient(to right, red, 76%, #752323);
  }
  77% {
    background-image: linear-gradient(to right, red, 77%, #752323);
  }
  78% {
    background-image: linear-gradient(to right, red, 78%, #752323);
  }
  79% {
    background-image: linear-gradient(to right, red, 79%, #752323);
  }
  80% {
    background-image: linear-gradient(to right, red, 80%, #752323);
  }
  81% {
    background-image: linear-gradient(to right, red, 81%, #752323);
  }
  82% {
    background-image: linear-gradient(to right, red, 82%, #752323);
  }
  83% {
    background-image: linear-gradient(to right, red, 83%, #752323);
  }
  84% {
    background-image: linear-gradient(to right, red, 84%, #752323);
  }
  85% {
    background-image: linear-gradient(to right, red, 85%, #752323);
  }
  86% {
    background-image: linear-gradient(to right, red, 86%, #752323);
  }
  87% {
    background-image: linear-gradient(to right, red, 87%, #752323);
  }
  88% {
    background-image: linear-gradient(to right, red, 88%, #752323);
  }
  89% {
    background-image: linear-gradient(to right, red, 89%, #752323);
  }
  90% {
    background-image: linear-gradient(to right, red, 90%, #752323);
  }
  91% {
    background-image: linear-gradient(to right, red, 91%, #752323);
  }
  92% {
    background-image: linear-gradient(to right, red, 92%, #752323);
  }
  93% {
    background-image: linear-gradient(to right, red, 93%, #752323);
  }
  94% {
    background-image: linear-gradient(to right, red, 94%, #752323);
  }
  95% {
    background-image: linear-gradient(to right, red, 95%, #752323);
  }
  96% {
    background-image: linear-gradient(to right, red, 96%, #752323);
  }
  97% {
    background-image: linear-gradient(to right, red, 97%, #752323);
  }
  98% {
    background-image: linear-gradient(to right, red, 98%, #752323);
  }
  99% {
    background-image: linear-gradient(to right, red, 99%, #752323);
  }
  100% {
    background-image: linear-gradient(to right, red, 100%, #752323);
  }
}

@media (max-width: 768px) {
  .advantage__caption {
    font-size: 4vw;
  }
}