.services2__image {
  width: 100%;
  background: center;
  background-size: cover;
  padding-top: 100%;
}

.services2__card:hover .services2__image {
  filter: grayscale(100%) blur(3px);
}

.services2__image_one {
  background-image: url('../../../images/services1.jpg');
}

.services2__image_two {
  background-image: url('../../../images/services2.jpg');
}

.services2__image_three {
  background-image: url('../../../images/services3.jpg');
}

.services2__image_fourth {
  background-image: url('../../../images/services4.jpg');
}

.services2__image_fifth {
  background-image: url('../../../images/services5.jpg');
}

.services2__image_sixth {
  background-image: url('../../../images/services6.jpg');
}