.licenses__link {
  width: 20vw;
  transition: .5s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.licenses__link:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px;
}

.licenses__link::before {
  content: '';
  position: absolute;
  background-color: rgba(34, 36, 41, 0.75);
  width: 1%;
  height: 1%;
  top: 50%;
  left: 50%;
  z-index: -1;
  transition: 1s;
  box-shadow: 0 0 30px;
}

.licenses__link:hover::before {
  z-index: 1;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
}

@media (max-width: 768px) {
  .licenses__link {
    width: 30vw;
  }
}