.about__title {
  text-transform: uppercase;
  color: #940202;
  font-family: 'Europeext Bold';
  font-size: 32px;
  margin: 0;
  filter: drop-shadow(0 0 3px #797979);
  text-align: center;
  line-height: 70px;
  /* position: absolute; */
  
}

.about__title_name {
  font-size: 80px;
  top: 20%;
  left: 40%;
}