.about__title {
  text-transform: uppercase;
  /* color: #940202; */
  color: white;
  font-family: 'Europeext Bold';
  font-size: 2vw;
  margin: 0 auto;
  text-align: center;
  line-height: 6vw;
  transform: skewX(-20deg);
  /* text-shadow: 0px 0px 15px white; */
  text-shadow: 0px 0px 15px red;
}

.about__title_name {
  font-size: 7vw;
}