.advantage__consultation-caption {
  font-family: 'Europeext Regular';
  color: black;
  font-size: 1.3vw;
  margin: 0;
}

.advantage__consultation-caption_free {
  font-family: 'Europeext Bold';
  color: #940202;
  text-transform: uppercase;
  margin-right: 10px;
  animation: bounce 1s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    
  }

  40% {
    -webkit-transform: translateY(-2vw);
    transform: translateY(-2vw);
  }

  80% {
    -webkit-transform: translateY(-1vw);
    transform: translateY(-1vw);
    
  }
}

@media (max-width: 768px) {
  .advantage__consultation-caption {
    font-size: 2.3vw;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .advantage__consultation-caption_free {
    margin-right: 0;
  }
}