.footer__contact-link {
  margin: 0;
  color: #b4b2b2;
  font-family: 'Europeext Regular';
  transition: .2s;
  white-space: nowrap;
}

.footer__contact-item:hover .footer__contact-link {
  color: #ffffff;
  filter: drop-shadow(0 0 0.1vw white);
}