.footer__contact-link {
  margin: 0;
  color: #b4b2b2;
  font-family: 'Europeext Regular';
  font-size: 10px;
  transition: .2s;
}

.footer__contact-link:hover {
  color: #ffffff;
  filter: drop-shadow(3px 3px 3px #616161);
}