.services__more {
  margin: 15vw 0 0 0;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  font-size: 36px;
  color: white;
  transition: .5s;
  z-index: -1;
  opacity: 0;
  transition: 1s;
  font-family: 'Europeext Regular';
  text-align: center;
}

.services__card:hover .services__more {
  margin-top: 0;
  z-index: 9;
  opacity: 1;
}