.popup-more__container {
  margin: 0;
  box-shadow: 0px 0px 2vw rgba(0, 0, 0, 0.15);
  position: relative;
  background: white;
  box-shadow: 0px 0px 15px white;
  max-height: 80%;
  background-image: url(../../../images/111test.png);
  background-size: 50% auto;
  background-position: bottom;
  background-repeat: repeat-x;
}

@media (max-width: 768px) {
  .popup-more__container {
    height: 80vw;
  }
}