.services__link {
  transition: .5s;
  cursor: pointer;
}

.services__link:hover {
  transform: scale(1.1);
  opacity: .2;
}

.services__background {
  background-color: black;
  border-radius: 10px;
  transition: .5s;
  position: relative;
}

.services__background:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 20px black);
}

.services__more {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 18%;
  font-size: 38px;
  color: white;
  transition: .5s;
  z-index: 2;
  opacity: 0;
  transition: 1s;
  margin-top: -20px;
  font-family: 'Europeext Regular';
  cursor: pointer;
}

.services__link:hover .services__background {
  opacity: 1;
}

.services__background:hover .services__more {
  margin-top: 0;
  opacity: 1;
}

/* .services__more:hover .services__link {
  opacity: .2;
} */

.services__link:hover .services__scotch {
  opacity: 0;
}