.footer__contact-title {
  margin: 0;
  color: #ffffff;
  font-family: 'Europeext Bold';
  font-size: 1.2vw;
  margin-bottom: 1vw;
}

@media (max-width: 768px) {
  .footer__contact-title {
    font-size: 2.2vw;
  }
}