.header__site-item {
  margin-right: 10px;
  width: 48px;
  height: 48px;
  transition: .2s;
  cursor: pointer;
  position: relative;
  font-family: 'Finlandica';
  font-size: 18px;
  color: white;
}

.header__site-item:last-child {
  margin-right: 0;
}

.header__site-item:hover {
  transform: scale(1.1);
}

.header__site-item-telegram:hover::after {
  content: attr(data-title);
  position: absolute;
  left: -15px;
  top: 50px;
  z-index: 1;
  background: #0088cc;
  padding: 5px;
  border-radius: 5px;
}

.header__site-item-whatsapp:hover::after {
  content: attr(data-title);
  position: absolute;
  left: -18px;
  top: 50px;
  z-index: 1;
  background: #25D366;
  padding: 5px;
  border-radius: 5px;
}

.header__site-item-mail:hover::after {
  content: attr(data-title);
  position: absolute;
  left: -10px;
  top: 50px;
  z-index: 1;
  background: #1703cb;
  padding: 5px;
  border-radius: 5px;
}