.popup-call__title {
  font-family: 'Europeext Bold';
  font-size: 1.5vw;
  color: #940202;
  margin: 0 auto 2vw auto;
}

@media (max-width: 768px) {
  .popup-call__title {
    text-align: center;
    font-size: 3vw;
  }
}