.popup-call__span-number {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 12px;
  line-height: 15px;
  color: red;
  display: none;
}

.popup-call__span-number_error {
  display: block;
}