.popup-call__button-submit {
  margin: 0;
  background-color: #aeaeae;
  padding: 0;
  border: none;
  box-shadow: 0px -0.3vw 0.5vw #616161;
  cursor: default;
  transition: all 0.5s ease 0s;
  width: 15vw;
  height: 3vw;
  transform: skewX(-20deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-call__button-submit_active {
  cursor: pointer;
  background-color: #940202;
}

.popup-call__button-submit span {
  color: #f5f5f5;
  font-family: 'Europeext Regular';
  font-size: 1vw;
  margin: 0.5vw 1vw;
  transform: skewX(20deg);
}

.popup-call__button-submit_active:hover {
  background-color: #c80101;
  color: #fff;
  transform: translateY(-7px) skewX(-20deg);
  box-shadow: 0px 0px 1vw #616161;
}

@media (max-width: 768px) {
  .popup-call__button-submit {
    width: 30vw;
    height: 6vw;
    }
}

@media (max-width: 768px) {
  .popup-call__button-submit span {
    font-size: 2vw;
  }
}