.contacts__item {
  margin-bottom: 2vw;
  transition: .2s;
  max-width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__item:hover {
  transform: scale(1.1);
}