.advantage__text {
  color: #940202;
  font-family: 'Montserrat Medium';
  font-size: 2vw;
  margin: 2vw 0;
}

.advantage__text_span {
  color: black;
  transition: .3s;
}

.advantage__text_contacts {
  color: black;
  transition: .3s;
}

.advantage__text_span:hover {
  opacity: .5;
}

.advantage__text_contacts:hover {
  opacity: .5;
}