.header__item-link {
  font-family: 'Europeext Regular';
  font-size: 16px;
  transition: .2s;
  text-align: center;
  color: white;
  /* filter: drop-shadow(3px 3px 3px #616161); */
}

.header__item:hover .header__item-link{
  opacity: .5;
  filter: drop-shadow(0 0 3px white);

}