.header__item-link {
  font-family: 'Europeext Regular';
  font-size: 1vw;
  transition: .2s;
  text-align: center;
  color: white;
}

.header__item:hover .header__item-link{
  opacity: .5;
  filter: drop-shadow(0 0 3px white);
}

@media (max-width: 768px) {
  .header__item-link {
    font-size: 2vw;
  }
}