.header__item {
  margin: 0;
  transition: .2s;
}

.header__item:hover {
  transform: scale(1.1);
}

.header__item:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .header__item {
    display: flex;
    justify-content: center;
  }
}